name: CI

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npx ng build

      - name: Deploy
        uses: actions/upload-pages-artifact@v4
        with:
          path: dist/deploy-test

  deploy:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: '${{ steps.deployment.outputs.page_url }}'

    steps:
      - name: deploy
        id: deployment
        uses: actions/deploy-pages@v4
